permissions:
  contents: write

name: Suivi hebdomadaire des scores fondamentaux

on:
  workflow_dispatch:
  schedule:
    - cron: '0 4 * * 1'  # Tous les lundis à 4h UTC = 6h à Paris


jobs:
  run-bourse-script:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install requirements
        run: |
          pip install requests pandas yfinance numpy scikit-learn

      - name: Lancer l'analyse fondamentale
        run: |
          python application_analyse_fondamentale.py

      - name: Commit historique mis à jour
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add historique_scores.csv historique_metrics.csv
          git commit -m "Mise à jour hebdomadaire des scores et metrics [auto]" || echo "Rien à committer"
          git push
